*{
    padding: 0;
    margin: 0;
    text-decoration: none;
 }
 div#menu {
    height: 40px;
    width: 90%;
    padding: 0;
    margin: 0 auto ;
    border: 1px solid #d7ffb3;
 }
 div#menu h1{   
    width: 196px;
    color: #fff;   
    background: #263544;
    float: left;
    font: bold 15px Arial; 
    text-align: left;
    border: 1px solid #d7ffb3; 
    padding: 5px 0 5px 5px;
    margin: 0 auto;
 }
 div#menu span{     
    border: 1px solid #d7ffb3; 
    float: right;
    width: 200px;
    font: bold 15px Arial;
    text-align: right; 
    padding: 5px 30px 5px 20px;
    margin: 5px 20px 0 20px;
 }  
 div#lateral-Esquerda{
    height: 550px;   
    width: 90%; 
    background: #f2ffe6;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #d7ffb3;   

 }
 div#lateral-Esquerda p{    
    width: 200px;
    background: black;
    font: bold 12px Arial;
    color: #fff;    
    text-align: left;
    border: 1px solid #d7ffb3; 
 }
 div#lateral-Esquerda{
    height: 550px;   
    width: 90%; 
    background: #f2ffe6;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #d7ffb3;   

 }
 .nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #263544;
}

.nav::after {
	display: block;
	content: '';
	clear: both;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav ul li {
	float: left;
	position: relative;
}

.nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

.nav ul li a:hover,
.nav ul li a:focus {
    width: 130px;
	background: rgba(0, 0, 0, 0.945);
}

.nav ul li a:focus {
	color: white;
}

.nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

.nav ul li ul li {
	min-width: 190px;
}

.nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

.nav ul li ul li a:hover,
.nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

.dropdown {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(10, 20, 30, 0.932);
}